$primary: #1791f2;
$info: rgba(29,155,209,.1);
$tablet: 680px;
$desktop: 800px;
$navbar-breakpoint: 679px;
$navbar-height: 3rem;
$section-padding: 0.5rem;
$section-padding-medium: 3rem 1.5rem;
$section-padding-large: 9rem 1.5rem;
$accordion-background-color: transparent;
$accordion-header-background-color: white;
$accordion-header-color: black;
$accordion-header-padding: 1rem 0.75rem;
$content-blockquote-padding: 0.5em 1em;
$content-pre-padding: 0.5em 1em;

@charset "utf-8";
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-tooltip";
@import "../../../node_modules/bulma-accordion/src/sass/index.sass";
@import "../../../node_modules/bulma-divider/src/sass/index.sass";
@import "../../../node_modules/bulma-dashboard/src/bulma-dashboard.sass";

.emoji-mart-emoji-native {
	font-family: inherit;
}
.textarea:not([rows]) {
	max-height: 6rem;
	/* Without min-height, stayScrolled gets bugged. */
	min-height: 3rem;
}
.rta__textarea {
	box-shadow: none !important;
}
.x-emoji-mart-container {
	position:absolute;
	bottom: 2.5rem;
	z-index: 30;

	&.x-is-reactions-mart {
		left: 45%;
	}
}
.x-is-fullwidth {
	width: 100%;
}
.x-modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ReactModal__Overlay {
	z-index: 30;
	background-color: transparent !important;
	top: 0;
	left: 0;
	overflow: hidden;
	.ReactModal__Content {
		border: 0;
		background-color: transparent;
	}
}
.emoji-mart-scroll {
	overflow-x: hidden;
}
@media (max-width: 768px) {
	.x-fix-mobile.navbar-brand {
		max-width: inherit !important;
		.navbar-item {
			max-width: 70% !important;
		}
	}
}
.accordions .accordion {
	background: linear-gradient(white, $grey-lighter);
}
.x-white-space {
	white-space: pre-wrap;
}
.x-topic-link {
	.x-is-hover-hidden {
		display: none;
	}
	&:hover .x-is-hover-hidden {
		display: inline-block;
	}
}
.x-fix-mobile.navbar-brand {
	max-width: 60%;
	.navbar-item {
		max-width: 100%;
		.image {
			flex-shrink: 0;
		}
	}
}
.x-truncate {
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
}
.x-are-truncated * {
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
}
.x-has-max-height {
	max-height: 300px;
	overflow-y: auto !important;
}
.x-has-max-width {
	max-width: 500px;
}
.x-reactions {
	margin-top: 0.2rem;
	.button {
		width: 2.6rem;
		height: 1.2rem;
	}
}
.x-is-hover {
	visibility: hidden;
}
.message-body .content {
	margin-bottom: 0;
	font-size: 0.9375rem;
}

.buttons.x-are-very-rounded .button {
	border-radius: 25px !important;
}
.x-is-align-start {
	align-items: flex-start !important;
}
.x-is-small-padding {
	padding: 0.5rem;
}
.x-is-padding-left {
	padding-left: 0.4em;
}
.menu-list .x-input {
	padding: 0.5em 0.75em;
	width: 80%;
}
.x-tabs-has-bigger-border a {
	border-bottom-width: 3px;

}
.x-chat {
	padding: 0.4em;
	padding-bottom: 1em;

	.message {
		&:hover {
			background-color: $white-ter;

			.x-is-hover {
				visibility: visible;
			}
		}
		margin-bottom: 0.25rem;
		background-color: white;
		word-wrap: break-word;

		img, video {
			height: 300px;
		}
	}

	.message-header {
		background-color: transparent;
		color: $primary;
	}

	.x-me {
		.message-body {
			border-left-color: #9b1a34;
		}
		.message-header {
			color: #9b1a34;
		}
		&.x-notice {
			.message-body {
				border-left-color: #8bf9ac;
			}
			.message-header {
				color: $primary;
			}
		}
	}


	.message-body {
		border-left-color: $primary;
		border-left-width: 3px;
		border-radius: 0;

		.content {
			white-space: initial;

			pre, code {
				background-color: $grey-lighter;
			}
		}
	}

	.x-refers-to-me .message-body {
		background-color: rgba(242,199,68,.2);
	}
}
.x-main {
	height: calc(100vh - #{$navbar-height});
	flex-flow: column;
	overflow-x: hidden;
}
.x-chatroom {
	display: flex;
	flex-flow: column;
	flex: 1;
	max-width: 100%;
	align-self: stretch;
	max-height: calc(100vh - #{$navbar-height});

	&-messages {
		height: 100%;
	}
}
body, html, #root {
	overflow-y: auto !important;
}
.x-navbar-height {
	height: $navbar-height;
}
.dashboard-panel {
	&.is-small {
		flex: 0 0 12rem;
	}
	&.is-medium {
		flex: 0 0 15rem;
	}
}
.x-address {
    &-container {
        overflow-x: hidden;
        display: flex;
        flex-flow: column;
        aling-items: flex-start;
    }
}
.x-toolbar {
    position: absolute;
    right: 1rem;

    .button {
        background-color: hsl(0, 1.8%, 88.8%);
    }
}
