$primary: #1791f2;
$info: rgba(29,155,209,.1);
$navbar-breakpoint: 769px;

@charset "utf-8";
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-tooltip";

@media (max-width: 768px) {
    .x-fix-mobile.navbar-brand {
        max-width: inherit !important;
        .navbar-item {
            max-width: 70% !important;
        }
    }
}
.x-fix-mobile.navbar-brand {
    max-width: 60%;
    .navbar-item {
        max-width: 100%;
        .image {
            flex-shrink: 0;
        }
    }
}
.x-truncate {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.x-has-max-height {
    max-height: 300px;
    overflow-y: auto !important;
}
.x-has-max-width {
    max-width: 500px;
}
.x-reactions {
    margin-top: 0.5rem;
}
.x-reactions .button {
    width: 2.7rem;
    height: 1.4rem;
}
.x-is-hover {
    visibility: hidden;
}
.message-body .content {
    margin-bottom: 0;
    white-space: pre-wrap;
    font-size: 0.9375rem;
}

.buttons.x-are-very-rounded .button {
    border-radius: 25px !important;
}
.x-sensor {
	background: transparent;
	margin: 0;
	padding: 0;
	outline: 0;
}
.x-is-align-start {
	align-items: flex-start !important;
}
.x-is-small-padding {
	padding: 0.5rem;
}
.x-is-padding-left {
	padding-left: 0.4em;
}
.x-is-fullwidth {
	width: 100%;
}
.menu-list .x-input {
	padding: 0.5em 0.75em;
	width: 80%;
}
.x-tabs-has-bigger-border a {
	border-bottom-width: 2px;
	
}
.container {
    max-width: 100%;
}
.x-chat {
	padding-bottom: 1rem;

	.message {
		&:hover {
			background-color: $white-ter;

			.x-is-hover {
				visibility: visible;
			}
		}
		margin-bottom: 0.5rem;
		background-color: white;
		word-wrap: break-word;
	}
	
	.message-header {
		background-color: transparent;
		color: $primary;
	}

	.x-me {
		.message-body {
			border-left-color: #9b1a34;
		}
		.message-header {
			color: #9b1a34;
		}
	}

	.message-body {
		border-left-color: $primary;
		border-left-width: 3px;
		border-radius: 0;
	}

	.x-refers-to-me .message-body {
		background-color: rgba(242,199,68,.2);
	}
}
.x-is-fixed-height {
	overflow-y: scroll;
	height: 0;
}
.x-avatar {
	cursor: pointer;

	&:hover {
		color: blueviolet;
	}
}
.x-is-fullheight {
	height: 100vh;
	overflow-y: auto;
}

body, html, #root {
	overflow-y: auto !important;
}
