.pseudo-footer {
	display: flex;
	height: 1.5em;
	padding: 0 0.5em;
	align-items: center;
	bottom: 0;
	position: fixed;
	background-color: white;
	width: calc(100% - 1.2em);
	font-size: small;
	justify-content: space-between;
}
.logout {
	display: flex;
	align-items: center;
}
.button {
	cursor: pointer;
}
